<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% if message %}
        {{message}}
    {% endif%}
    <h1>Registration</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email"><br>

        <label for="profile_img">Profile Image:</label>
        <input type="file" name="profile_img" accept="image/*"><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>